.todo {
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    .todo-wrapper {
        position: relative;
        max-width: 100%;
        width: 800px;
        height: auto;
        padding: 30px;


        .item-btn {
            align-self: flex-end;
            margin: 20px 0;

        }

        .text-item-done {
            text-decoration: line-through;
            text-decoration-thickness: 1.5px;
            color: rgba(0, 0, 0, 0.6);
        }

        svg {
            color: rgba(0, 0, 0, 0.6);
            height: 100%;
            width: 16px;
            cursor: pointer;
            text-align: right;
        }


    }
}

.back-prev-page {
    top: 25px;
    left: 15px;
    .wrapper {
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.10);
        border-radius: 50%;

        svg {
            height: 100%;
            width: 24px;
            cursor: pointer;
            color: #fff;

        }
    }
}